/* .list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
  
  .ngx-pagination {
    padding-inline-start: 0 !important;
  } */

  html *{
    -webkit-font-smoothing: antialiased;
    
}
body{
    background: #fff !important;
}
a {
    color: #3e3947 !important;
    text-decoration: none;
}

a:hover{
    color: #89229b !important;
    text-decoration: none !important;
}
a:focus {
    color: #89229b !important;
    text-decoration: none !important;
}
.container h3{
    font-size:25px ;
    margin-top: 20px ;
    margin-bottom: 10px ;
    font-weight: 300 ;
    color: #3c4858 ;
}
.container h4{
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0;
    font-weight: 300;
    color: #3c4858;
}

small{
    font-size: 75% !important;
    color: #777;
}

.btn-group{
    position: relative;
    margin: 10px 1px;
    display: inline-flex;
    vertical-align: middle;
}
.btn-group .btn{
    padding: 6.5px 20px !important;
}

 
.btn{
    /* padding: 12px 30px !important; */
    margin: 5px 1px;
    font-size: 12px !important;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14), 0 3px 1px -2px hsla(0,0%,60%,.2), 0 1px 5px 0 hsla(0,0%,60%,.12);
}
.btn .material-icons{
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -1.2em;
    margin-bottom: -1em;
    font-size: 1.1rem;
    vertical-align: middle;
}




.btn.btn-danger {
    color:  #f44336 !important;
    background-color: white !important;
    border-color: #f44336;
    box-shadow: 0 2px 2px 0 rgba(244,67,54,.14), 
                0 3px 1px -2px rgba(244,67,54,.2), 
                0 1px 5px 0 rgba(244,67,54,.12) !important;
}

.btn.btn-danger:hover {
    box-shadow: 0 14px 26px -12px rgba(244,67,54,.42), 
                0 4px 23px 0 rgba(0,0,0,.12), 
                0 8px 10px -5px rgba(244,67,54,.2) !important;
    background-color: #ff847b !important;            
    
}
.btn.btn-info {
    color: #00bcd4 !important;
    background-color: white !important;
    border-color: #00bcd4;
    box-shadow: 0 2px 2px 0 rgba(0,188,212,.14),
                0 3px 1px -2px rgba(0,188,212,.2),
                0 1px 5px 0 rgba(0,188,212,.12) !important;
}

.btn.btn-info:hover {
    box-shadow: 0 14px 26px -12px rgba(0,188,212,.42),
                0 4px 23px 0 rgba(0,0,0,.12),
                0 8px 10px -5px rgba(0,188,212,.2) !important;
    background: #67d1df !important;
     color: #fff !important;
}
.btn.btn-success {
    color:  #4caf50 !important;
    background-color: white !important;
    border-color: #4caf50;
    box-shadow: 0 2px 2px 0 rgba(76,175,80,.14),
                0 3px 1px -2px rgba(76,175,80,.2), 
                0 1px 5px 0 rgba(76,175,80,.12) !important;
}

.btn.btn-success:hover {
    box-shadow: 0 14px 26px -12px rgba(76,175,80,.42), 
                0 4px 23px 0 rgba(0,0,0,.12),   
                0 8px 10px -5px rgba(76,175,80,.2) !important;
    background: #91d395  !important;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    background-color: transparent;
}

.table thead tr th {
    font-size: 17px ;
    font-weight: 300;
}

.table>thead>tr>th{
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-weight: 300;
}

.table>tbody>tr>td{
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-weight: 300;
    font-size:14px;
    color: #3c4858;
}

.table .td-actions .btn {
    margin: 0;
    padding: 5px;
}



.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9 !important;
}


