<h4><small>Courses</small> <span>&nbsp;&nbsp;&nbsp;</span>
    <a  *ngIf="this.authService.userRole()=='admin'" type="button" rel="tooltip" (click)="openModal('createCourseModal')" class="btn btn-outline-secondary btn-sm" data-original-title="" title="add course">
        <i class="material-icons" >add</i></a>  
                     
            <div  *ngIf="this.authService.userRole()=='admin'" class="input-group input-group-sm mb-3" style="width: 750px;">
                <div class="input-group-prepend">
                <select class="custom-select"  #param >
                    <option hidden>Search by</option>
                     <option value="name">NAME</option>
                     <option value="semester">SEMESTER</option>
                     <option value="espb">ESPB</option>
                  </select>
          </div>
                <input type="text"  placeholder="Search..." #search  id="inputGroup-sizing-sm"
                class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                <div   class="input-group-append" id="btn">
                    <a   (click)="retrieveCourses(search.value, param.value)" class="btn btn-outline-secondary" type="button"><span class="material-icons">
                        search
                        </span></a>
                  </div>
                
                </div>    
</h4>


<div class="table-responsive" id="tableScroll">
        <table class="table">
            <thead id="header-fixed">
                <tr>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th>ESPB</th>
                    <th>Semester</th>
                    <th *ngIf="this.authService.userRole()!='student'" class="text-right">Actions</th>
                    <th *ngIf="this.authService.userRole()=='student'" class="text-right">Professor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses">
                    <td class="text-center">{{course.id}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.espb}}</td>
                    <td>{{course.semester}}</td> 
                    <td class="text-right" > 
                        <a *ngIf="this.authService.userRole()!='student'"routerLink="/courses/{{ course.id }}" type="button"  class="btn btn-success btn-link btn-just-icon btn-sm" data-original-title="" title="view more">
                            <i class="material-icons">preview</i>
                        </a> 
                        <a *ngIf="this.authService.userRole()=='admin'" type="button" rel="tooltip" (click)="openDeleteModal('deleteModal', course)" class="btn btn-danger btn-link btn-just-icon btn-sm" data-original-title="" title="delete course">
                            <i class="material-icons">close</i>
                        </a>
                        <a *ngIf="this.authService.userRole()=='student'" (click)="openProfModal('seeProfessors', course.id)" type="button" rel="tooltip" class="btn btn-success btn-sm" data-original-title="" title="see professors">
                            <i class="material-icons">person</i>
                        </a>
                        
                   </td>
                </tr>   
            </tbody>
        </table>
</div>

<jw-modal id="createCourseModal">
    
    

 
    <div class="col-md-6 offset-md-3">
        
   
      
        <div class="card card-outline-secondary">
            <div class="card-body">
                <h3 class="text-center">Create Course</h3>
               
                <form (ngSubmit)="f2.form.valid && onSubmit()" #f2="ngForm">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" #name="ngModel" id="name"[(ngModel)]="course.name" name="name"
                      [ngClass]="{ 'is-invalid': f2.submitted && name.errors }" required >
                      <div *ngIf="f2.submitted && name.invalid" class="invalid-feedback">
                        <div *ngIf="name.errors.required">Name is required</div>
                    </div>
                    </div>
                    <div class="form-group">
                      <label for="espb">espb</label>
                      <input type="text" class="form-control" #espb="ngModel" id="espb" [(ngModel)]="course.espb" name="espb"
                      [ngClass]="{ 'is-invalid': f2.submitted && espb.errors }" required>
                        <div *ngIf="f2.submitted && espb.invalid" class="invalid-feedback">
                        <div *ngIf="espb.errors.required">ESPB is required</div>
                    </div>
        
                    </div>
                
                    <div class="form-group">
                      <label for="semester">semester</label>
                      <select  class="form-control" id="semester" #semester="ngModel" required [(ngModel)]="course.semester" name="semester"
                      [ngClass]="{ 'is-invalid': f2.submitted && semester.errors }" required>
                        <option value="WINTER">WINTER</option>
                        <option value="SUMMER">SUMMER</option>
                      </select>
                      <div *ngIf="f2.submitted && semester.invalid" class="invalid-feedback">
                        <div *ngIf="semester.errors.required">Semester is required</div>
                    </div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-6 mb-2 form-group">
                          <button type="submit" rel="tooltip" 
                              class="btn btn-success btn-sm" data-original-title="" title="create course">Create</button>
                          </div>
                          <div class="col-md-6 mb-2 form-group text-right">
                            <a type="button" rel="tooltip" (click)="closeModal('createCourseModal')"
                          class="btn btn-outline-secondary btn-sm" data-original-title="" title="close">Cancel</a>
                        </div>
                      </div>
                  </form>
            </div>
        </div>
        <!-- /form card cc payment -->
   </div>
   </jw-modal>

   <jw-modal id="seeProfessors">
    <div class="col-md-4 offset-md-4">
    <div class="card card-outline-secondary">
      <div class="card-body">
          <h4 class="text-center">Course professors</h4>
      <div class="card card-body">
        <ul *ngFor="let p of professors">
            <li>{{p.firstname}}&nbsp;{{p.lastname}}&nbsp;<br/>role: {{p.role}}&nbsp;<br/>email: {{p.email}}&nbsp;<br/>phone: {{p.phone}}</li>

        </ul>
      </div>
     
      <div class="text-right">
        <a type="button" rel="tooltip" (click)="closeModal('seeProfessors')"
      class="btn btn-outline-secondary btn-sm" data-original-title="" title="close">Close</a>
    </div>
    
    </div>  
    </div>
  </div>
   </jw-modal>

   <jw-modal id="deleteModal">
    <div class="col-md-4 offset-md-4">
    <div class="card card-outline-secondary" *ngIf="courseForDelete">
      <div class="card-body">
          <h4 class="text-center">Are you sure you want to delete {{courseForDelete.name}}?</h4>
      <div class="card card-body">
        <div class="row">
            <div class="col-md-6 mb-2 form-group">
              <button type="submit" rel="tooltip" 
                  class="btn btn-danger btn-sm" data-original-title="" (click)="removeCourse(courseForDelete)" title="delete">Delete</button>
              </div>
              <div class="col-md-6 mb-2 form-group text-right">
                <a type="button" rel="tooltip" (click)="closeModal('deleteModal')"
              class="btn btn-outline-secondary btn-sm" data-original-title="" title="close">Cancel</a>
            </div>
          </div>
      </div>
    </div>  
    </div>
  </div>
</jw-modal>