<div id="enrollDiv">
    <div>
    <div class="input-group">
        <select class="custom-select"  #professor id="inputGroupSelect04">
          <option hidden>Add professor to this course</option>
           <option [value]="p.id"  *ngFor="let p of filteredProfessors">
             {{p.firstname}}&nbsp;{{p.lastname}}</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="signProfessor(professor.value)">Add</button>
        </div>
      </div>
    </div>
    <div id="unit">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                     
                        <th>Professor</th>
                        
                        <th class="text-right">Role</th>
                      
                      <th class="text-right">Actions</th> 
                    </tr>
                </thead>
                <tbody>
             
                    <tr  *ngFor="let professor of professors">
                        <!-- <td class="text-center">{{ca.id}}</td> -->
                        <td><a routerLink="/professors/{{ professor.id }}">{{professor.firstname}}<span> &nbsp;&nbsp;{{professor.lastname}}</span></a></td>
                       
                        <td class="text-right">{{professor.role}}</td>
                        <td class="text-right"><a type="button" rel="tooltip" 
                          class="btn btn-danger btn-sm" data-original-title="" (click)="removeProfessor(professor)"title="remove professor">
                          <i class="material-icons">close</i>
                      </a></td>
                    </tr>
                   
                </tbody>
            </table>
            </div>
            </div>

            