<div class="col-lg-6 col-md-4 ml-auto mr-auto">
    <div id="unit" style="width: 400px;" *ngIf="exam.course">
      
        
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name: {{exam.course.name}}</li>
              <li class="list-group-item">Espb: {{exam.course.espb}}</li>
              <li class="list-group-item">Semester: {{exam.course.semester}}</li>
            </ul>
            <div class="card-footer text-right" style="height: 50px;">
                <a style="margin-top: -3px;" routerLink="/course-view/{{ exam.course.id }}" class="btn btn-success btn-sm" title="view course"> <i class="material-icons">preview</i></a>
              </div>
          </div>
    
    
    </div>