<div class="card" style="width: 18rem;" *ngIf="user">
    <div class="card-header" >User details</div>
    <div class="card-body">
     
      <h4 class="card-subtitle mb-2" >username: {{user.username}}</h4>
      <h5 class="card-subtitle mb-2 ">role: ADMIN</h5>
     
    <div class="card-footer bg-transparent border-info text-right row">
      <div>
    <a routerLink="/users/{{user.id}}" type="button"  class="btn btn-success btn-link btn-just-icon btn-sm" data-original-title="" title="view more">
      <i class="material-icons">preview</i>
  </a> 
  </div>
  
  </div>
     
    </div>
  </div>
 