<div class="table-responsive drive-items-table-wrapper">
                     
    <table class="table">
         <thead>
            <tr>   
                 <th></th>
                 <th class="text-left">Name</th>
                 <th class="text-left">Date</th>
                 <th class="text-right">Actions</th>
            </tr>
         </thead>

         <tbody>
            <tr *ngFor="let document of documents">
                 <td class="text-center"><i class="fa fa-file-text-o"></i></td>
                 <td class="text-left"><a routerLink="/document-view/{{ document.id }}">   {{document.name}}</a></td>
                 <td class="text-left">{{document.date | date}}</td>
                 <td class="text-right"><a type="button" rel="tooltip" (click)="removeDocument(document)"
                    class="btn btn-danger btn-sm" data-original-title="" title="delete document">
                    <i class="material-icons">close</i>
                </a></td>
            </tr>
         </tbody>
     </table>
     
 </div>