<div class="table-responsive drive-items-table-wrapper">
                     
    <table class="table">
         <thead>
            <tr>
                 <th class="name">Name</th>
                 <th class="date">Date</th>
            </tr>
         </thead>

         <tbody>
            <tr *ngFor="let document of documents">
                 <td class="name"><i class="fa fa-file-text-o"></i><a routerLink="/document-view/{{ document.id }}">   {{document.name}}</a></td>
                 <td class="date">{{document.date | date}}</td>
            </tr>
         </tbody>
     </table>
     
 </div>