<div style="width: 400px; margin: auto;">
  <div *ngIf="currentCourse" class="edit-form">
    <h4>Course</h4>
    <form>
      <div class="form-group">
        <label for="name">NAME</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentCourse.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="description">ESPB</label>
        <input
          type="text"
          class="form-control"
          id="espb"
          [(ngModel)]="currentCourse.espb"
          name="espb"
        />
      </div>
      <div class="form-group">
        <label for="semester">semester</label>
       
        
        <select  class="form-control" id="semester2" required [(ngModel)]="currentCourse.semester" name="semester">
          
          <option value="WINTER">WINTER</option>
          <option value="SUMMER">SUMMER</option>
        </select>
      </div>
      

      
    </form>
    


   

    <button class="badge badge-danger mr-2" (click)="deleteCourse()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success"
      (click)="updateCourse()"
    >
      Update
    </button><button
    type="submit"
    class="badge badge-success"
    (click)="list()"
  >
    Back to list
  </button>

  </div>

 
</div>