<section id="tabs" class="project-tab" *ngIf="examPeriod">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" (click)="onTabClick(0)" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Exam Period Details</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" (click)="onTabClick(1)"data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Exams in this Exam Period</a>
                        
                    </div>
                </nav>
                <div class="col-lg-7 col-md-4 ml-auto mr-auto" *ngIf="tabIndex === 0">
                    <app-exam-period-unit [examPeriod]="examPeriod"></app-exam-period-unit>
                  </div>
                  
                  <div class="col-lg-12 col-md-12 ml-auto mr-auto" *ngIf="tabIndex === 1">
                    <app-exam-period-exams [exams]="exams" [examPeriod]="examPeriod"  (addExam)="createExam($event)" (deleteExam)="deleteExam($event)"></app-exam-period-exams>
                  </div>
                <!-- <div class="tab-content" id="nav-tabContent" >
                    <div>
                       <app-exam-period-unit [examPeriod]="examPeriod"></app-exam-period-unit>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                       <app-exam-period-exams [exams]="exams" [examPeriod]="examPeriod"></app-exam-period-exams>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    </section>