<div class="card" style="width: 18rem;" *ngIf="professor">
  <div class="card-header">Professor details</div>
  <div class="card-body">
   
    <h4 class="card-subtitle mb-2 ">{{professor.firstname}} {{professor.lastname}}</h4>
    <h5 class="card-subtitle mb-2 "> {{professor.role}}</h5>
    <p class="card-text text-muted">email: {{professor.email}} <br/>phone: {{professor.phone}} </p>
  
    <div class="card-footer bg-transparent border-info text-right row">
      
        <a routerLink="/professors/{{professor.id}}" type="button"  class="btn btn-success btn-link btn-just-icon btn-sm" data-original-title="" title="view more">
          <i class="material-icons">preview</i>
      </a> 
     
    </div>
   
  </div>
</div>
