<div id="enrollDiv">
    <div class="input-group" id="addBtn">
       
        <div>
          <button class="btn btn-outline-secondary" (click)="openModal('createExamModal1')"type="button" >+</button>
        </div>
        <div class="input-group input-group-sm mb-3">
          <input type="text"  placeholder="Search by Course" #search  id="inputGroup-sizing-sm"
          class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          <div class="input-group-append" id="btn">
              <a   (click)="retrieveExams(search.value)" class="btn btn-outline-secondary" type="button"><span class="material-icons">
                  search
                  </span></a>
            </div>
          
          </div>
      </div>
   
<div class="unit">
        
   
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                     
                        
                        
                        <th class="text-center">#</th>
                        <th>Assignment</th>
                        <th>Date</th>
                        <th>Points</th>
                        <th>Course</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
             
                    <tr *ngFor="let exam of exams">
                        <td class="text-center">{{exam.id}}</td>
                        <th class="text-left" id="a"><a  routerLink="/exams/{{ exam.id }}" data-original-title="" title="view exam">{{exam.assignment}}</a></th>
                        <td>{{exam.date  | date}}</td>
                        <td>{{exam.points}}</td> 
                        <td><a routerLink="/courses/{{exam.course.id}}" data-original-title="" title="view course">{{exam.course.name}}</a></td>
                        <td class="text-right"> 
                            <a type="button" rel="tooltip" (click)="openModalDelete('deleteModal', exam)"class="btn btn-danger btn-link btn-just-icon btn-sm" data-original-title="" title="delete exam">
                                <i class="material-icons">close</i>
                            </a>
                       </td>
                    </tr>  
                   
                </tbody>
            </table>
            </div>
            </div>
         
            <jw-modal id="createExamModal1">
              <div class="col-md-6 offset-md-3">
                
                  <div class="card card-outline-secondary" *ngIf="examPeriod">
                      <div class="card-body">
                          <h3 class="text-center">Create Exam for {{examPeriod.name}}</h3>
                          
                          <form [formGroup]="examForm" (ngSubmit)="onSubmit()">
                            
                            <div class="form-group">
                              <ng-container formGroupName="examPeriod">
                             
                            </ng-container>
                            </div>
                             
                            
                           
                            <div class="input-group">
                              <label>Select Course: &nbsp;</label>
                              <select class="custom-select" formControlName="course" #c id="inputGroupSelect05"
                              [ngClass]="{ 'is-invalid': submitted && f.course.errors }">
                                  <option [ngValue]="c"  *ngFor="let c of courses">{{c.name}}</option>
                              </select>
                              <div *ngIf="submitted && f.course.errors" class="invalid-feedback">
                                <div *ngIf="f.course.errors.required">Course is required</div>
                            </div>
                            </div>
                                <div class="form-group">
                                  <label for="date">Date:</label>
                                 
                                  <input type="date" name="date" id="date" formControlName="date" class="form-control" 
                                  [ngClass]="{ 'is-invalid': submitted && f.date.errors }" min="{{this.date}}">
                                  <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                    <div *ngIf="f.date.errors.required">Date is required</div>
                                </div>
                                   
                              </div>
                              <div class="form-group">
                                <label for="assignment">Assignment</label>
                                <input type="text" class="form-control" id="assignment" formControlName="assignment" name="assignment"
                                [ngClass]="{ 'is-invalid': submitted && f.assignment.errors }">
                                <div *ngIf="submitted && f.assignment.errors" class="invalid-feedback">
                                  <div *ngIf="f.assignment.errors.required">Assignment is required</div>
                              </div>
                              </div>
                          
                              <div class="form-group">
                                <label>Points</label>
                                <input type="number" class="form-control" id="points" formControlName="points" name="points"  min="0"  max="100" oninput="validity.valid||(value='');"
                                [ngClass]="{ 'is-invalid': submitted && f.points.errors }">
                                <div *ngIf="submitted && f.points.errors" class="invalid-feedback">
                                  <div *ngIf="f.points.errors.required">Points are required</div>
                              </div>
                              </div>
                             
                           
                              
                          
                              <div class="row">
                                  <div class="col-md-6 mb-2 form-group">
                                    <button type="submit" rel="tooltip" 
                                        class="btn btn-success btn-sm" data-original-title="" title="create exam">Create</button>
                                    </div>
                                    <div class="col-md-6 mb-2 form-group text-right">
                                      <a type="button" rel="tooltip" (click)="closeModal('createExamModal1')"
                                    class="btn btn-outline-secondary btn-sm" data-original-title="" title="close">Cancel</a>
                                  </div>
                                </div>
                            </form>
                      </div>
                  </div>
                  <!-- /form card cc payment -->
              </div>
              </jw-modal>

              <jw-modal id="deleteModal">
                <div class="col-md-4 offset-md-4">
                <div class="card card-outline-secondary" *ngIf="examforDelete">
                  <div class="card-body">
                      <h4 class="text-center">Are you sure you want to delete this exam?</h4>
                  <div class="card card-body">
                    <div class="row">
                        <div class="col-md-6 mb-2 form-group">
                          <button type="submit" rel="tooltip" 
                              class="btn btn-danger btn-sm" data-original-title="" (click)="removeExam(examforDelete)" title="delete">Delete</button>
                          </div>
                          <div class="col-md-6 mb-2 form-group text-right">
                            <a type="button" rel="tooltip" (click)="closeModal('deleteModal')"
                          class="btn btn-outline-secondary btn-sm" data-original-title="" title="close">Cancel</a>
                        </div>
                      </div>
                  </div>
                </div>  
                </div>
              </div>
              </jw-modal>