Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#span{
    font-size: 17px;
}
#divAdd{
    margin-right: 12px;
}
#unit{
    padding-top: 20px;
}


body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #EF5350;
  background-repeat: no-repeat
}

.card {
  padding: 30px 25px 35px 50px;
  border-radius: 30px;
  box-shadow: 0px 4px 8px 0px #B71C1C;
  width: 1000px;
  margin-bottom: 50px
}

.border-line {
  border-right: 1px solid #BDBDBD
}

.text-sm {
  font-size: 13px
}

.text-md {
  font-size: 18px
}

.image {
  width: 60px;
  height: 30px
}

::placeholder {
  color: grey;
  opacity: 1
}

:-ms-input-placeholder {
  color: grey
}

::-ms-input-placeholder {
  color: grey
}

input {
  padding: 2px 0px;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
  margin-top: 2px;
  box-sizing: border-box;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500
}

input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #EF5350;
  outline-width: 0
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.btn-red {
  background-color: #EF5350;
  color: #fff;
  padding: 8px 25px;
  border-radius: 50px;
  font-size: 18px;
  letter-spacing: 2px;
  border: 2px solid #fff
}

.btn-red:hover {
  box-shadow: 0 0 0 2px #EF5350
}

.btn-red:focus {
  box-shadow: 0 0 0 2px #EF5350 !important
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #EF5350
}

@media screen and (max-width: 575px) {
  .border-line {
      border-right: none;
      border-bottom: 1px solid #EEEEEE
  }
}


.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
  
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}