<div class="col-lg-6 col-md-4 ml-auto mr-auto">
    <div id="unit" style="width: 400px;" *ngIf="exam">
      <form id="form"> 
        <div class="form-group">
          <label for="assignment">Assignment</label>
          <input type="text" class="form-control" id="assignment" required [(ngModel)]="exam.assignment" name="assignment">
        </div>
    
      
        <div class="col-md-m form-group">
          <div class="form-group">
              <label for="date">Date: {{ exam.date | date }}</label>
             
              <input type="date" name="date" id="date" class="form-control" [(ngModel)]="exam.date"/>
               
          </div>
        </div>
    
        <div class="form-group">
          <label for="points">Points</label>
          <input type="number" class="form-control" id="points" required [(ngModel)]="exam.points" name="points">
        </div>

        <div class="form-group">
          <label for="examPeriod">Exam Period</label>
          <input type="text" class="form-control" id="examPeriod" required [(ngModel)]="exam.examPeriod.name" name="examPeriod" disabled>
        </div>
    
        <div class="row">
          <div class="col-md-6 mb-2 form-group">
            <a type="button" rel="tooltip" (click)="updateExam()"
                class="btn btn-success btn-sm" data-original-title="" title="update course">Update</a>
            </div>
            <div class="col-md-6 mb-2 form-group text-right">
              <a type="button" rel="tooltip" (click)="deleteExam()"
            class="btn btn-danger btn-sm" data-original-title="" title="delete exam">Delete</a>
          </div>
        </div>
      </form>
    </div>
    
    </div>