<form (ngSubmit)="f2.form.valid && updateStudent()" #f2="ngForm">
    <div class="form-row">
      <div class="col-md-6 mb-2 form-group">
        <label for="validationDefault01">First name</label>
        <input type="text" class="form-control" name="firstname" #firstname="ngModel"
        id="firstname" [(ngModel)]="student.firstname" id="validationDefault01" placeholder="Firstname"
        [ngClass]="{ 'is-invalid': f2.submitted && firstname.errors }" required>
        <div *ngIf="f2.submitted && firstname.invalid" class="invalid-feedback">
          <div *ngIf="firstname.errors.required">Firstname is required</div>
      </div>
      </div>
      <div class="col-md-6 mb-2 form-group">
        <label for="validationDefault02">Last name</label>
        <input type="text" class="form-control" name="lastname" #lastname="ngModel"
        id="lastname" [(ngModel)]="student.lastname"  id="validationDefault02" placeholder="Lastname"
        [ngClass]="{ 'is-invalid': f2.submitted && lastname.errors }" required>
        <div *ngIf="f2.submitted && lastname.invalid" class="invalid-feedback">
          <div *ngIf="lastname.errors.required">Lastname is required</div>
      </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-2 form-group">
        <div class="form-group">
            <label for="birthdate">Birthdate: {{ student.birthDate | date }}</label>
           
            <input type="date" name="birthdate" id="birthdate"  #birthdate="ngModel" class="form-control" [(ngModel)]="student.birthDate"
            [ngClass]="{ 'is-invalid': f2.submitted && birthdate.errors }" required>
            <div *ngIf="f2.submitted && birthdate.invalid" class="invalid-feedback">
              <div *ngIf="birthdate.errors.required">Birthdate is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-2 form-group">
        <label for="validationDefault099">Index number</label>
        <input type="text" class="form-control" name="indexNum" #indexNum="ngModel"
        id="indexnum" [(ngModel)]="student.indexNum"  id="validationDefault099" placeholder="index number" 
        [ngClass]="{ 'is-invalid': f2.submitted && indexNum.errors }" required>
        <div *ngIf="f2.submitted && indexNum.invalid" class="invalid-feedback">
          <div *ngIf="indexNum.errors.required">Index number is required</div>
      </div>
      </div>
   
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-2 form-group">
            <label for="validationDefault03">Address</label>
            <input type="text" [(ngModel)]="student.address" class="form-control" #address="ngModel"
            id="inputAddress" placeholder="1234 Main St" id="validationDefault03" name="address"
            [ngClass]="{ 'is-invalid': f2.submitted && address.errors }" required>
            <div *ngIf="f2.submitted && address.invalid" class="invalid-feedback">
              <div *ngIf="address.errors.required">Address is required</div>
          </div>
          </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3 form-group">
        <label for="validationDefault04">City</label>
        <input type="text" [(ngModel)]="student.city" #city="ngModel"
        class="form-control" id="validationDefault04" placeholder="City" name="city"
        [ngClass]="{ 'is-invalid': f2.submitted && city.errors }" required>
        <div *ngIf="f2.submitted && city.invalid" class="invalid-feedback">
          <div *ngIf="city.errors.required">City is required</div>
      </div>
      </div>
      <div class="col-md-3 mb-3 form-group">
        <label for="validationDefault05">Country</label>
        <input type="text" [(ngModel)]="student.country" #country="ngModel"
         class="form-control" id="validationDefault05" placeholder="Country" name="country" 
         [ngClass]="{ 'is-invalid': f2.submitted && country.errors }" required>
         <div *ngIf="f2.submitted && country.invalid" class="invalid-feedback">
          <div *ngIf="country.errors.required">Country is required</div>
      </div>
      </div>
      <div class="col-md-3 mb-3 form-group">
        <label for="validationDefault06">Zip</label> 
        <input type="text" [(ngModel)]="student.zip" class="form-control" #zip="ngModel"
         id="validationDefault06" placeholder="Zip" required name="zip" 
         [ngClass]="{ 'is-invalid': f2.submitted && zip.errors }" required>
         <div *ngIf="f2.submitted && zip.invalid" class="invalid-feedback">
          <div *ngIf="zip.errors.required">Zip is required</div>
      </div>
      </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-2 form-group">
            <label for="email">Email</label>
            <input type="text" [(ngModel)]="student.email" #email="ngModel"
            class="form-control" id="email" placeholder="123@test.net" name="email"
            [ngClass]="{ 'is-invalid': f2.submitted && email.errors }" required>
            <div *ngIf="f2.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
          </div>
          </div>
          <div class="col-md-6 mb-2 form-group">
            <label for="phone">Phone</label>
            <input type="text" [(ngModel)]="student.phone" #phone="ngModel"
            class="form-control" id="phone" placeholder="+381/654017152" name="phone" 
            [ngClass]="{ 'is-invalid': f2.submitted && phone.errors }" required>
            <div *ngIf="f2.submitted && phone.invalid" class="invalid-feedback">
              <div *ngIf="phone.errors.required">Phone is required</div>
          </div>
          </div>
    </div>

    <div class="form-row" *ngIf="student.user">
        <div class="col-md-6 mb-2 form-group">
        <label for="validationDefaultUsername">Username</label>
          <input type="text" [(ngModel)]="student.user.username" #username="ngModel" class="form-control" name="username"
           id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" 
           [ngClass]="{ 'is-invalid': f2.submitted && username.errors }" required>
           <div *ngIf="f2.submitted && username.invalid" class="invalid-feedback">
            <div *ngIf="username.errors.required">Username is required</div>
        </div>
        
    </div>
          <div class="col-md-6 mb-2 form-group">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="student.user.password" #password="ngModel"
            class="form-control" id="password" placeholder="*********" name="password"
            [ngClass]="{ 'is-invalid': f2.submitted && password.errors }" required>
            <div *ngIf="f2.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
          </div>
          </div>
    </div>
   
    <div class="padding-top-x5">
        <div class="padding-top-x5">
           
          <div class="row">
              <div class="col-md-6 mb-2 form-group">
                <button type="submit" rel="tooltip"
                    class="btn btn-success btn-sm" data-original-title="" title="update student">Update</button>
                </div>
                <div *ngIf="this.authService.userRole()=='admin'" 
                      class="col-md-6 mb-2 form-group text-right">
                  <a type="button" rel="tooltip" (click)="openModal('deleteModal')"
                class="btn btn-danger btn-sm" data-original-title="" title="delete student">Delete</a>
              </div>
            </div>
            </div>
        </div>   
  </form>


  <jw-modal id="deleteModal">




    <div class="col-md-4 offset-md-3">
        
    
        <!-- form card cc payment -->
        <div class="card card-outline-secondary" >
            <div class="card-body">
              
                <h6 class="text-center">Are you sure you want to delete this student?</h6>
               
                    
                
                    <div class="row">
                        <div class="col-md-6 mb-2 form-group">
                          <button type="submit" rel="tooltip" 
                              class="btn btn-success btn-sm" data-original-title="" title="delete student" (click)="deleteStudent()">Delete</button>
                          </div>
                          <div class="col-md-6 mb-2 form-group text-right">
                            <a type="button" rel="tooltip" (click)="closeModal('deleteModal')"
                          class="btn btn-outline-secondary btn-sm" data-original-title="" title="close">Cancel</a>
                        </div>
                      </div>
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <!-- Modal body -->
                          <div class="modal-body text-center mb-5">
                         
                            <h1>Are You Sure?</h1>
                            <p>Do you really want to delete these records? This process cannot be undone.</p>
                            <div class="btn-group">
                              <button type="button" class="btn btn-secondary btn-lg mr-2 rounded-lg" data-dismiss="modal">Cancel</button>
                              <button type="button" class="btn btn-danger btn-lg rounded-lg">Delete</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  
            </div>
        </div>
        <!-- /form card cc payment -->
    </div>
    </jw-modal>