
  <div class="box">
    <div class="container">
     	<div class="row">
			 
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
            <img src="assets/img/admindash.png" >
                        
						<div class="title">
							<h4>Users</h4>
						</div>
                        
						<div class="text">
							
						</div>
                        
						<a routerLink="/users">Learn More</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
            <img src="assets/img/students.png" >
                    
						<div class="title">
							<h4>Students</h4>
						</div>
                        
						<div class="text">
							
						</div>
                        
						<a routerLink="/students">Learn More</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
            <img src="assets/img/professordash.png" >
                        
						<div class="title">
							<h4>Professors</h4>
						</div>
                        
						<div class="text">
						
						</div>
                        
						<a routerLink="/professors">Learn More</a>
                        
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
            <img src="assets/img/booksdash.png" >
                        
						<div class="title">
							<h4>Courses</h4>
						</div>
                        
						<div class="text">
							
						</div>
                        
						<a routerLink="/courses">Learn More</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
            <img src="assets/img/exam-pencil.png">
                    
						<div class="title">
							<h4>Exams</h4>
						</div>
                        
						<div class="text">
							
						</div>
                        
						<a routerLink="/exams">Learn More</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
            <img src="assets/img/calendar.png">
                        
						<div class="title">
							<h4>Exam Periods</h4>
						</div>
                        
						<div class="text">
							
						</div>
                        
						<a routerLink="/examperiods">Learn More</a>
                        
					 </div>
				</div>
		
		</div>		
    </div>
</div>