<div class="row">
    <div class="col-sm-4">
        <div class="card"  style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><a routerLink="/users">Users</a></h5>
            <img src="assets/img/admindash.png" >
            <!-- <a routerLink="/courses" class="btn btn-primary">Courses</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card"  style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><a routerLink="/students">Students</a></h5>
            <img src="assets/img/students.png" >
            <!-- <a routerLink="/courses" class="btn btn-primary">Courses</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card"  style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><a routerLink="/professors">Professors</a></h5>
            <img src="assets/img/professordash.png" >
            <!-- <a routerLink="/courses" class="btn btn-primary">Courses</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="padding-top: 50px;">
      <div class="card"  style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="/courses">Courses</a></h5>
          <img src="assets/img/booksdash.png" >
          <!-- <a routerLink="/courses" class="btn btn-primary">Courses</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="padding-top: 50px;">
      <div class="card"  style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><a routerLink="/exams">Exams</a></h5>
          <img src="assets/img/exam-pencil.png">
          
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="padding-top: 50px;">
        <div class="card"  style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><a routerLink="/examperiods">Exam periods</a></h5>
            <img src="assets/img/calendar.png">
         
          </div>
        </div>
      </div>
      
      <div class="col-sm-4" style="padding-top: 50px;">
        <div class="card"  style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title" id="a"><a type="button" (click)="goToMyProfile()">My Account</a></h5>
            <img src="assets/img/profile.png">
           
          </div>
        </div>
      </div>
  </div>