<div *ngIf="this.authService.userRole()=='admin'">
<div *ngIf="currentFile" class="progress">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
  
  <label class="btn btn-default text-left" style="width: 90%;">
    <input type="file" (change)="selectFile($event)" />
  </label>
  
  <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
    Upload
  </button>
  
  <div class="alert alert-light" role="alert">{{ message }}</div>
  
</div>
  <!-- <div class="card">
    <div class="card-header">List of Files</div>
    <ul
      class="list-group list-group-flush"
      *ngFor="let file of fileInfos | async"
    >
      <li class="list-group-item">
        <a href="{{ file.url }}">{{ file.name }}</a>
      </li>
    </ul>
  </div> -->

   <table class="table">
    <thead>
       <tr>   
            <th></th>
            <th class="text-left">Name</th>
           
            <th *ngIf="this.authService.userRole()=='admin'" class="text-right">Actions</th>
       </tr>
    </thead>

    <tbody>
       <tr *ngFor="let file of fileInfos | async">
            <td class="text-center"><i class="fa fa-file-text-o"></i></td>
                <td class="text-left"><a href="{{ file.url }}">{{ file.name }}</a></td>
            
            <td *ngIf="this.authService.userRole()=='admin'" class="text-right"><a type="button" rel="tooltip"
               class="btn btn-danger btn-sm" data-original-title="" (click)="removeDocument(file)" title="delete document">
               <i class="material-icons">close</i>
           </a></td>
       </tr>
    </tbody>
</table>