<div class="table-responsive drive-items-table-wrapper">
                     
    <table class="table">
         <thead>
           
             <tr>
                <th></th>
                <th>Course exam</th>
                <th>Exam Period</th>
                <th>Points</th>
                <th>Mark</th>
                <th>Student</th>
                <!-- <th class="text-right">Actions</th>  -->
                
             </tr>
         </thead>
         <tbody>
            
          <tr *ngFor="let et of examtakings">
            <td><i class="fa fa-book"></i></td>
            <td><a routerLink="/exams/{{ et.exam.id }}">{{et.exam.course.name}}</a></td>
            <td *ngIf="this.authService.userRole()=='admin'"><a routerLink="/examperiods/{{et.exam.examPeriod.id}}">{{et.exam.examPeriod.name}}</a></td>
            <td *ngIf="this.authService.userRole()=='professor'">{{et.exam.examPeriod.name}}</td> <!--dodati router link ka ispitnom roku-->
            <td>{{et.points}}</td>
            <td>{{et.mark}}</td>
            <td *ngIf="this.authService.userRole()=='admin'"><a routerLink="/students/{{ et.student.id }}">{{et.student.firstname}}&nbsp;{{et.student.lastname}}</a></td>
            <td *ngIf="this.authService.userRole()=='professor'"><ng-template #tipContent let-greeting="greeting"><p style="white-space: pre-wrap">{{et.student.firstname}} {{et.student.lastname}}</p>
                <p style="white-space: pre-wrap">index number: {{et.student.indexNum}}</p><p style="white-space: pre-wrap">email: {{et.student.email}}</p><p style="white-space: pre-wrap"> phone: {{et.student.phone}}</p></ng-template>
                <a
                  type="button"
                  [ngbTooltip]="tipContent"
                  triggers="manual" #t1="ngbTooltip" (click)="toggleWithGreeting(t1, 'Bonjour')"
                >
                  {{et.student.firstname}}&nbsp;&nbsp;{{et.student.lastname}}
            </a></td>
            <!-- <td class="text-right"><a type="button" rel="tooltip" (click)="openDeleteModal('deleteModal', et)"
                class="btn btn-danger btn-sm" data-original-title="" title="delete">
                <i class="material-icons">close</i>
            </a></td> -->
               
             </tr> 
        
         </tbody>
     </table>
 </div>

 <jw-modal id="deleteModal">
    <div class="col-md-4 offset-md-4">
    <div class="card card-outline-secondary" *ngIf="eTakingForDelete">
      <div class="card-body">
          <h4 class="text-center">Are you sure you want to delete this examination?</h4>
      <div class="card card-body">
        <div class="row">
            <div class="col-md-6 mb-2 form-group">
              <button type="submit" rel="tooltip" 
                  class="btn btn-danger btn-sm" data-original-title="" (click)="removeExamTaking(eTakingForDelete)" title="delete">Delete</button>
              </div>
              <div class="col-md-6 mb-2 form-group text-right">
                <a type="button" rel="tooltip" (click)="closeModal('deleteModal')"
              class="btn btn-outline-secondary btn-sm" data-original-title="" title="close">Cancel</a>
            </div>
          </div>
      </div>
    </div>  
    </div>
  </div>
</jw-modal>