<div class="table-responsive drive-items-table-wrapper">
                     
    <table class="table">
         <thead>
           
             <tr>
               
                <th class="text-center">Course exam</th>
                <th class="text-center">Exam Period</th>
                <th class="text-center">Points</th>
                <th class="text-center">Mark</th>
                <th class="text-center">Student</th>
                <th class="text-right">Actions</th> 
                
             </tr>
         </thead>
         <tbody>
            
          <tr *ngFor="let et of examtakings">
               
            <td class="text-center"><i class="fa fa-book"></i><a routerLink="/exams/{{ et.exam.id }}">{{et.exam.course.name}}</a></td>
            <td *ngIf="this.authService.userRole()=='admin'" class="text-center"><a routerLink="/examperiods/{{et.exam.examPeriod.id}}">{{et.exam.examPeriod.name}}</a></td>
            <td *ngIf="this.authService.userRole()=='professor'" class="text-center">{{et.exam.examPeriod.name}}</td> <!--dodati router link ka ispitnom roku-->
            <td class="text-center">{{et.points}}</td>
            <td class="text-center">{{et.mark}}</td>
            <td *ngIf="this.authService.userRole()=='admin'"class="text-center"><a routerLink="/students/{{ et.student.id }}">{{et.student.firstname}}&nbsp;{{et.student.lastname}}</a></td>
            <td *ngIf="this.authService.userRole()=='professor'"class="text-center"><ng-template #tipContent let-greeting="greeting"><p style="white-space: pre-wrap">{{et.student.firstname}} {{et.student.lastname}}</p>
                <p style="white-space: pre-wrap">index number: {{et.student.indexNum}}</p><p style="white-space: pre-wrap">email: {{et.student.email}}</p><p style="white-space: pre-wrap"> phone: {{et.student.phone}}</p></ng-template>
                <a
                  type="button"
                  [ngbTooltip]="tipContent"
                  triggers="manual" #t1="ngbTooltip" (click)="toggleWithGreeting(t1, 'Bonjour')"
                >
                  {{et.student.firstname}}&nbsp;&nbsp;{{et.student.lastname}}
            </a></td>
            <td class="text-right"><a type="button" rel="tooltip" (click)="removeExamTaking(et)"
                class="btn btn-danger btn-sm" data-original-title="" title="delete">
                <i class="material-icons">close</i>
            </a></td>
               
             </tr> 
        
         </tbody>
     </table>
 </div>