<h4><small>Users</small></h4>
<div class="table table-hover table-sm">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Username</th>
                    <th>Role</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" (click)="selectUser(user)">
                    <td class="text-center">{{user.id}}</td>
                    <td>{{user.username}}</td>
                  
                    <td *ngIf="findRole(user)=='student'">STUDENT</td>
                    <td *ngIf="findRole(user)=='professor'">PROFESSOR</td>
                    <td *ngIf="findRole(user)=='admin'">ADMIN</td>
                   
                    
                </tr>   
            </tbody>
        </table>
</div>
