<!-- <div class="card text-center col-md-8" *ngIf="user">
    <div>
      Admin profile
    </div>
    <div class="card-body">
      
        <div class="col-md-6  form-group">
            <label for="validationDefault01">Username: </label>
            <input type="text" class="form-control" name="firstname"
            id="firstname" [(ngModel)]="user.username" id="validationDefault01" placeholder="First name"  required/>
           
          </div>
          <div class="col-md-6 form-group">
            <label for="validationDefault02">Role: </label>
            <input type="text" class="form-control" name="lastname"
            id="lastname" value="ADMIN" id="validationDefault02" placeholder="Last name" disabled>
          </div>
                 
            </div>
          </div> -->
       


<div class="container bootstrap snippet">
 
  <div class="row">
    <div class="col-sm-3">
            

    <div class="text-center">
      <img src="assets\img\admin.png" style="width:185px"  alt="avatar">
      <h6>ADMIN</h6>
    </div><br> 
    </div>
    <div class="col-sm-6  form-group">
    
        <div class="tab-content" *ngIf="user">
          <div class="tab-pane active" id="home">
             
                <form class="form" (click)="updateUser(user)">
                
                        <div class="col-sm-8 form-group" id="username">
                            <label for="username"><h4>Username</h4></label>
                            <input type="text" class="form-control" name="username" [(ngModel)]="user.username"required/>
                        </div>
                        <div class="col-sm-8 form-group" id="username">
                          <label for="password"><h4>Password</h4></label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required/>
                      </div>
                        <!-- <div class="col-sm-10  form-group">
                          <p style="margin-left: 18px;"> 
                            <a  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                              Change Password?
                            </a>
                            
                          </p>
                          <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                              <form [formGroup]="changeForm" (ngSubmit)="changePassword()">
                              <div class="form-group">
                                <label for="oldpassword">Old password:</label>
                                <input formControlName="oldPassword" name="oldpassword" type="text" class="form-control" placeholder="Old password..." required>
                              </div>
                          
                              <div class="form-group">
                                <label for="newpassword">New password:</label>
                                <input formControlName="newPassword" name="newpassword" type="text" class="form-control" placeholder="New password..." required>
                              </div>
                          
                              <div class="form-group">
                                <label for="cnewpassword">Confirm new password:</label>
                                <input formControlName="cnewPassword" name="cnewpassword" type="text" class="form-control" placeholder="Confirm new password..." required>
                              </div>
                              <button class="btn btn-success">Change pass</button>
            </form>
                            </div>
                          </div>  
                        </div> -->
                        <div class="row" style="margin-left:18px; margin-top:35px;">
                          <div class="col-md-6 mb-2 form-group">
                            <button type="submit" rel="tooltip"
                                class="btn btn-success btn-sm" data-original-title="" title="update user">Update</button>
                            </div>
                            <div class="col-md-6 mb-2 form-group">
                              <a type="button" rel="tooltip" (click)="deleteUser()"
                            class="btn btn-danger btn-sm" data-original-title="" title="delete user">Delete</a>
                          </div>
                          
                        </div>
                   
                   
              </form>
            
     
            
           </div><!--/tab-pane-->
         
             
         
           
        </div><!--/tab-content-->

      </div><!--/col-9-->
  </div><!--/row-->
          