<div class="table-responsive drive-items-table-wrapper">
                     
    <table class="table">
         <thead>
             <tr>
                 <th class="type"></th>
                 <th class="name truncate">Name</th>
                 <th class="date">Uploaded</th>
                
             </tr>
         </thead>
         <tbody>
            
             <tr>
                 <td class="type"><i class="fa fa-file-text-o text-primary"></i></td>
                 <td class="name truncate"><a href="#">NAME</a></td>
                 <td class="date">DATE</td>
               
             </tr>
        
         </tbody>
     </table>
 </div>