<div id="unit" class="col-lg-6 col-md-4 ml-auto mr-auto">
<div style="width: 400px;" *ngIf="course">
  <form id="form"> 
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="course.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">ESPB</label>
      <input type="text" class="form-control" id="espb" required [(ngModel)]="course.espb" name="espb">
    </div>

    <div class="form-group">
      <label for="semester">Semester</label>
      <select  class="form-control" id="semester" required [(ngModel)]="course.semester" name="semester">
        <option value="WINTER">WINTER</option>
        <option value="SUMMER">SUMMER</option>
      </select>
    </div>
    <div class="row">
      <div class="col-md-6 mb-2 form-group">
        <a type="button" rel="tooltip" (click)="updateCourse()"
            class="btn btn-success btn-sm" data-original-title="" title="update course">Update</a>
        </div>
        <div class="col-md-6 mb-2 form-group text-right">
          <a type="button" rel="tooltip" 
        class="btn btn-danger btn-sm" data-original-title="" title="delete course">Delete</a>
      </div>
    </div>
    <!-- <button type="submit" class="btn btn-success">Submit</button> -->
  </form>
</div>

</div>

