<div class="col-lg-6 col-md-4 ml-auto mr-auto">
<div id="unit" style="width: 400px;" *ngIf="course">
  <form id="form"> 
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="course.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">espb</label>
      <input type="text" class="form-control" id="espb" required [(ngModel)]="course.espb" name="espb">
    </div>

    <div class="form-group">
      <label for="name">semester</label>
      <input type="text" class="form-control" id="semester" required [(ngModel)]="course.semester" name="semester">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

</div>