<div id="unit" class="  mr-auto">
    <div *ngIf="examPeriod">
      <form id="form" (ngSubmit)="f2.form.valid && updateExamPeriod()" #f2="ngForm"> 
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" #name="ngModel"id="name" [(ngModel)]="examPeriod.name" name="name"
          [ngClass]="{ 'is-invalid': f2.submitted && name.errors }" required>
          <div *ngIf="f2.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">Name is required</div>
        </div>
        </div>
    
      
        <div class="col-md-m form-group">
          <div class="form-group">
              <label for="startDate">Start Date: {{ examPeriod.startDate | date }}</label>
             
              <input type="date" name="startDate"  #startDate="ngModel" id="startDate" class="form-control" [(ngModel)]="examPeriod.startDate"
              [ngClass]="{ 'is-invalid': f2.submitted && startDate.errors }" required>
              <div *ngIf="f2.submitted && startDate.invalid" class="invalid-feedback">
                <div *ngIf="startDate.errors.required">Start Date is required</div>
            </div>
               
          </div>
        </div>

        <div class="col-md-m form-group">
            <div class="form-group">
                <label for="endDate">End Date: {{ examPeriod.endDate | date }}</label>
               
                <input type="date" name="endDate" #endDate="ngModel" id="endDate" class="form-control" [(ngModel)]="examPeriod.endDate"
                [ngClass]="{ 'is-invalid': f2.submitted && endDate.errors }" required>
              <div *ngIf="f2.submitted && endDate.invalid" class="invalid-feedback">
                <div *ngIf="endDate.errors.required">End Date is required</div>
            </div>
                 
            </div>
          </div>
    
      
    
        <div class="row">
          <div class="col-md-6 mb-2 form-group">
            <button type="submit" rel="tooltip"
                class="btn btn-success btn-sm" data-original-title="" title="update exam period">Update</button>
            </div>
            <div class="col-md-6 mb-2 form-group text-right">
              <a type="button" rel="tooltip" (click)="deleteExamPeriod()"
            class="btn btn-danger btn-sm" data-original-title="" title="delete exam period">Delete</a>
          </div>
        </div>
      </form>
    </div>
    
    </div>