<div class="row">
        
    <div id="unit"class="col-lg-6 col-md-4 ml-auto mr-auto" >
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                     
                        
                        
                        <th class="text-center">Mark</th>
                        <th class="text-center">Pass</th>
                        <th class="text-center">Points</th>
                        <th class="text-left">Professor</th>
                        <th class="text-left">Student</th>
                      
                      <th class="text-right">Actions</th> 
                    </tr>
                </thead>
                <tbody>
             
                    <tr  *ngFor="let et of examTakings">
                        <td class="text-center">{{et.mark}}</td>
                        <td class="text-center">{{et.pass}}</td>
                        <td class="text-center">{{et.points}}</td>
                        <td class="text-left"><a routerLink="/professors/{{ et.professor.id }}">{{et.professor.firstname}}<span> &nbsp;&nbsp;{{et.professor.lastname}}</span></a></td>
                        <td class="text-left"><a routerLink="/students/{{ et.student.id }}">{{et.student.firstname}}<span> &nbsp;&nbsp;{{et.student.lastname}}</span></a></td>
                       
                        
                            <td class="td-actions text-right">
                            <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-just-icon btn-sm" data-original-title="" title="">
                                <i class="material-icons">close</i>
                            </button>
                        </td> 
                    </tr>
                   
                </tbody>
            </table>
            </div>
            </div>