<p>user-documents works!</p>
<table class="table">
    <thead>
        <tr>
            <th class="type"></th>
            <th class="name truncate">Name</th>
            <th class="date">Uploaded</th>
           
        </tr>
    </thead>
    <tbody>
       
        <tr>
            <td class="type"><i class="fa fa-file-text-o text-primary"></i></td>
            <td class="name truncate"><a href="#">dsfsd</a></td>
            <td class="date">fdsfsdfds</td>
          
        </tr>
   
    </tbody>
</table>