<nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" (click)="onTabClick(0)" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Create Admin</a>
      <a class="nav-item nav-link" (click)="onTabClick(1)" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Create Student</a>
      <a class="nav-item nav-link" (click)="onTabClick(2)" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Create Professor</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active col-lg-7 ml-auto mr-auto"  *ngIf="tabIndex === 0">
        <form [formGroup]="addForm" (ngSubmit)="createUser()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" formControlName="username" [class.invalid]="isInvalidAndDirty('username')"
              class="form-control" placeholder="Enter username" required>
            </div>
            <div class="error-message" *ngIf="hasError('username', 'required')">
              <label>
                Username is required
              </label>
            </div>
            
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <div class="form-group">
              <label for="role">Role</label>
              <input type="role" class="form-control" id="role" value="admin"placeholder="ADMIN" disabled>
            </div>
            <div class="padding-top-x5">
              <div class="padding-top-x5">
                 
                <div class="row">
                    <div class="col-md-6 mb-2 form-group">
                      <button type="submit" rel="tooltip"
                          class="btn btn-success btn-sm" data-original-title="" title="create student">Create</button>
                      </div>
                      <div class="col-md-6 mb-2 form-group text-right">
                        <a type="button" rel="tooltip" (click)="refresh()"
                      class="btn btn-outline-secondary btn-sm" data-original-title="" title="delete student">Clear</a>
                    </div>
                  </div>
      
                  </div>
              </div>
          </form>
    </div>
    <div class="col-lg-7 col-md-4 ml-auto mr-auto" *ngIf="tabIndex === 1">
      <app-student-create></app-student-create>
    </div>
    
    <div class="col-lg-7 col-md-4 ml-auto mr-auto" *ngIf="tabIndex === 2">
      <app-professor-create></app-professor-create>
    </div>

  </div>