.table tr.active td {  
    background-color:#007bffb9 !important;  
    color: white;  
  }   
  tr:hover td {
    background-color: #007bff4b;
    color: white;
    cursor: pointer;
  }

  #tableScroll{
    height: 300px;
    overflow-y: scroll;
    width: 680px;
}
select{
  height: 30px;
  font-size: 13px;
}
#btn{
  margin-top: -4px;
}