<h4><small>Professors</small> <span>&nbsp;&nbsp;&nbsp;</span>
    <a type="button" rel="tooltip" routerLink="/user-create" class="btn btn-outline-secondary btn-sm" data-original-title="" title="create user">
        <i class="material-icons">add</i></a>
        <div class="input-group input-group-sm mb-3" style="width: 680px;">
            <div class="input-group-prepend">
            <select class="custom-select"  #param >
                <option hidden>Search by</option>
                 <option value="firstname">FIRSTNAME</option>
                 <option value="lastname">LASTNAME</option>
                 <option value="role">ROLE</option>
              </select>
      </div>
            <input type="text"  placeholder="Search..." #search  id="inputGroup-sizing-sm"
            class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-append" id="btn">
                <a   (click)="retrieveStudents(search.value, param.value)" class="btn btn-outline-secondary" type="button"><span class="material-icons">
                    search
                    </span></a>
              </div>
            
            </div></h4>
<div class="table-responsive" id="tableScroll">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Role</th>
                    <!-- <th class="text-right">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let professor of professors; let i = index" (click)="ClickedRow(i)" [class.active]="i == HighlightRow" (click)="selectProfessor(professor)">
                    <td class="text-center">{{professor.id}}</td>
                    <td>{{professor.firstname}}</td>
                    <td>{{professor.lastname}}</td>
                    <td>{{professor.role}}</td> 
                      
                        <!-- <td class="td-actions text-right">
                            <a type="button" rel="tooltip" class="btn btn-info btn-link btn-just-icon btn-sm" data-original-title="" title="">
                                <i class="material-icons">person</i>
                            </a>
                            <button type="button" rel="tooltip" class="btn btn-success btn-link btn-just-icon btn-sm" data-original-title="" title="">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-just-icon btn-sm" data-original-title="" title="">
                                <i class="material-icons">close</i>
                            </button>
                        </td> -->
                </tr>
                   
            </tbody>
        </table>
</div>
      