<h4><small>Exams</small> <span>&nbsp;&nbsp;&nbsp;</span>
    <a (click)="openModal('createExam')" type="button" rel="tooltip" class="btn btn-outline-secondary btn-sm" data-original-title="" title="add course">
    <i class="material-icons">add</i>
    </a></h4>
<div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Assignment</th>
                    <th>Date</th>
                    <th>Points</th>
                    <th>Exam Period</th>
                    <th>Course</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exam of exams">
                    <td class="text-center">{{exam.id}}</td>
                    <td>{{exam.assignment}}</td>
                    <td>{{exam.date  | date}}</td>
                    <td>{{exam.points}}</td> 
                    <td><a routerLink="/examperiods/{{exam.examPeriod.id}}" data-original-title="" title="view exam period">{{exam.examPeriod.name}}</a></td>
                    <td><a routerLink="/course-view/{{exam.course.id}}" data-original-title="" title="view course">{{exam.course.name}}</a></td>
                    <td class="text-right"> 
                        <a routerLink="/exams/{{ exam.id }}" type="button"  class="btn btn-success btn-link btn-just-icon btn-sm" data-original-title="" title="view exam">
                            <i class="material-icons">preview</i>
                        </a> 
                        <a type="button" rel="tooltip" (click)="removeExam(exam)"
                        class="btn btn-danger btn-link btn-just-icon btn-sm" data-original-title="" title="delete exam">
                            <i class="material-icons">close</i>
                        </a>
                   </td>
                </tr>   
            </tbody>
        </table>
</div>

<jw-modal id="createExam">
    <div class="col-md-6 offset-md-3">
      
        <div class="card card-outline-secondary">
            <div class="card-body">
                <h3 class="text-center">Create Exam</h3>
                
                <form [formGroup]="examForm" (ngSubmit)="onSubmit()">
                  
                    <div class="input-group">
                        <label>Select course: &nbsp;</label>
                        <select class="custom-select" formControlName="course" #c id="inputGroupSelect05"
                        [ngClass]="{ 'is-invalid': submitted && f.course.errors }">
                            <option [ngValue]="c"  *ngFor="let c of courses">{{c.name}}</option>
                        </select>
                        <div *ngIf="submitted && f.course.errors" class="invalid-feedback">
                            <div *ngIf="f.course.errors.required">Course is required</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="date">Date:</label>
                       
                        <input type="date" name="date" id="date" formControlName="date" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.date.errors }" min="{{this.date}}">
                        <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                            <div *ngIf="f.date.errors.required">Date is required</div>
                        </div>
                         
                    </div>
                    <div class="form-group">
                      <label for="assignment">Assignment</label>
                      <input type="text" class="form-control" id="assignment" formControlName="assignment" name="assignment"
                      [ngClass]="{ 'is-invalid': submitted && f.assignment.errors }">
                      <div *ngIf="submitted && f.assignment.errors" class="invalid-feedback">
                        <div *ngIf="f.assignment.errors.required">Assignment is required</div>
                    </div>
                    </div>
                
                    <div class="form-group">
                      <label>Points</label>
                      <input type="number" class="form-control" id="points" formControlName="points" required name="points" min="0"  max="100" oninput="validity.valid||(value='');"
                      [ngClass]="{ 'is-invalid': submitted && f.points.errors }">
                      <div *ngIf="submitted && f.points.errors" class="invalid-feedback">
                        <div *ngIf="f.points.errors.required">Points are required</div>
                    </div>
                    </div>
                    <div class="input-group">
                      <label>Select exam period: &nbsp;</label>
                      <select class="custom-select" formControlName="examPeriod" #ep id="inputGroupSelect05"
                      [ngClass]="{ 'is-invalid': submitted && f.examPeriod.errors }">
                          <option [ngValue]="ep"  *ngFor="let ep of examPeriods">{{ep.name}}</option>
                      </select>
                      <div *ngIf="submitted && f.examPeriod.errors" class="invalid-feedback">
                        <div *ngIf="f.examPeriod.errors.required">Exam period is required</div>
                    </div>
                    </div>
                 
                    
                
                    <div class="row">
                        <div class="col-md-6 mb-2 form-group">
                          <button type="submit" rel="tooltip" 
                              class="btn btn-success btn-sm" data-original-title="" title="create exam">Create</button>
                          </div>
                          <div class="col-md-6 mb-2 form-group text-right">
                            <a type="button" rel="tooltip" (click)="closeModal('createExam')"
                          class="btn btn-outline-secondary btn-sm" data-original-title="" title="close">Cancel</a>
                        </div>
                      </div>
                  </form>
            </div>
        </div>
        <!-- /form card cc payment -->
    </div>
    </jw-modal>
