<h4><small>Exams</small> <span>&nbsp;&nbsp;&nbsp;</span>
    <a routerLink="/add-course" type="button" rel="tooltip" class="btn btn-outline-secondary btn-sm" data-original-title="" title="add course">
    <i class="material-icons">add</i>
    </a></h4>
<div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Assignment</th>
                    <th>Date</th>
                    <th>Points</th>
                    <th>Exam Period</th>
                    <th>Course</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exam of exams">
                    <td class="text-center">{{exam.id}}</td>
                    <td>{{exam.assignment}}</td>
                    <td>{{exam.date  | date}}</td>
                    <td>{{exam.points}}</td> 
                    <td><a routerLink="/examperiods/{{exam.examPeriod.id}}" data-original-title="" title="view exam period">{{exam.examPeriod.name}}</a></td>
                    <td><a routerLink="/course-view/{{exam.course.id}}" data-original-title="" title="view course">{{exam.course.name}}</a></td>
                    <td class="text-right"> 
                        <a routerLink="/exams/{{ exam.id }}" type="button"  class="btn btn-success btn-link btn-just-icon btn-sm" data-original-title="" title="view exam">
                            <i class="material-icons">preview</i>
                        </a> 
                        <a type="button" rel="tooltip" class="btn btn-danger btn-link btn-just-icon btn-sm" data-original-title="" title="delete course">
                            <i class="material-icons">close</i>
                        </a>
                   </td>
                </tr>   
            </tbody>
        </table>
</div>
