/* .list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
  
  .ngx-pagination {
    padding-inline-start: 0 !important;
  } */
.card{
    margin-top: -18.8rem;
    margin-left: 48rem;
    width: 18rem;
}

  #myCheckbox{
    background-color: red;
  }
  select{
    height: 30px;
    font-size: 13px;
}
#btn{
    margin-top: -4px;
}
  html *{
    -webkit-font-smoothing: antialiased;
    
}
body{
    background: #fff !important;
}

.container h3{
    font-size:25px ;
    margin-top: 20px ;
    margin-bottom: 10px ;
    font-weight: 300 ;
    color: #3c4858 ;
}
.container h4{
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0;
    font-weight: 300;
    color: #3c4858;
}

small{
    font-size: 75% !important;
    color: #777;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    background-color: transparent;
}

.table thead tr th {
    font-size: 17px ;
    font-weight: 300;
}

.table>thead>tr>th{
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-weight: 500;
}

.table>tbody>tr>td{
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-weight: 300;
    font-size:14px;
    color: #3c4858;
}

.table .td-actions .btn {
    margin: 0;
    padding: 5px;
}



.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9 !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#tableScroll{
    height: 300px;
    width: 750px;
    overflow-y: scroll;
}