<div class="list row">
  <div class="col-md-8">
  
  </div>
  <div class="col-md-6">
    <h4>courses List</h4>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name course"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
    </div>
    <ul class="list-group">
      
      <li
        class="list-group-item"
        *ngFor="let course of courses; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveCourse(course, i)"
      >
        {{ course.name }}
      </li>
    </ul>

  
  </div>
  <div class="col-md-4" id="details">
    <div *ngIf="currentCourse">
      <h4>Course</h4>
      <div>
        <label><strong>ID:</strong></label> {{ currentCourse.id }}
      </div>
      <div>
      <div>
        <label><strong>Name:</strong></label> {{ currentCourse.name }}
      </div>
      <div>
        <label><strong>ESPB:</strong></label>
        {{ currentCourse.espb }}
      </div>
      <div>
        <label><strong>SEMESTER</strong></label>
        {{ currentCourse.semester}}
      </div>
      <div>
        <label><strong>Course professors</strong></label>
       <a *ngFor="let professor of professors ">  {{professor.firstname}},  </a> 
      </div>

      <a class="badge badge-warning" routerLink="/courses/{{ currentCourse.id }}">
        Edit
      </a>
    </div>
    <br/>
    
    
   
  <div class="card mb-3">
    <div class="card-header">Enrollment students</div>
    <table class="card-body table table-hover table-sm">
        <thead>
            <tr>
              
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Index number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                
                <td>{{student.firstname}}</td>
                <td>{{student.lastname}}</td>
                <td>{{student.indexNum}}</td>
            </tr>
        </tbody>
    </table>
</div>
    

    <div *ngIf="!currentCourse">
      <br />
      <p>Please click on a Tutorial...</p>
    </div>
  </div>
</div>