/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#span{
    font-size: 17px;
}
#divAdd{
    margin-right: 12px;
}
#unit{
    padding-top: 20px;
}
