<div id="divAdd" class="text-right"><span id="span">create payment &nbsp;</span>
     <a type="button" rel="tooltip" (click)="openModal('createPaymentModal')" class="btn btn-info btn-sm" data-original-title="" title="add course">
          <i class="material-icons">add</i>
          </a></div>
<div class="table-responsive drive-items-table-wrapper">
                     
    <table class="table">
         <thead>
            <tr>
                 <th></th>
                 <th class="name">Name</th>
                 <th class="date">Date</th>
                 <th class="purpose">Purpose</th>
                 <th class="amount">Amount</th>
                 <th class="text-right">Actions</th>
            </tr>
         </thead>

         <tbody>
            <tr *ngFor="let payment of payments">
                 <td><i class="fa fa-credit-card"></i></td>
                 <td class="name"><a routerLink="/payment-view/{{ payment.id }}">{{payment.name}}</a></td>
                 <td class="date">{{payment.date | date}}</td>
                 <td class="purpose">{{payment.purpose}}</td>
                 <td class="amount">{{payment.amount}}</td>
                 <td class="text-right"><a type="button" rel="tooltip" (click)="removePayment(payment)"
                    class="btn btn-danger btn-sm" data-original-title="" title="delete payment">
                    <i class="material-icons">close</i>
                </a></td>
            </tr>
         </tbody>
     </table>
     
 </div>


 <jw-modal id="createPaymentModal">

 <div class="col-md-6 offset-md-3">
      
     <div class="card card-outline-secondary">
         <div class="card-body">
             <h3 class="text-center">Create Payment</h3>
            
             <form [formGroup]="addForm" (ngSubmit)="addPayment()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input formControlName="name" type="text" class="form-control" id="name" required name="name">
                  </div>
                  <div class="form-group">
                    <label for="purpose">Purpose</label>
                    <input formControlName="purpose" type="text" class="form-control" id="purpose" required name="purpose">
                  </div>
                <div class="form-group">
                    <label for="accountNumber">Account number</label>
                    <input formControlName="accountNumber" type="number" class="form-control" id="accountNumber" required placeholder="account number">
                  </div>
            
                <div class="form-group">
                  <label for="address">Address</label>
                  <input formControlName="address" type="text" class="form-control" id="address" required name="address">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input formControlName="city" type="text" class="form-control" id="city" required name="city">
                  </div>
                  <div class="form-group">
                    <label for="amount">Amount</label>
                    <input formControlName="amount" type="number" class="form-control" id="amount" required placeholder="amount">
                  </div>
                  <div class="col-md-m form-group">
                    <div class="form-group">
                        <label for="date">Date:</label>
                       
                        <input type="date"  formControlName="date" name="date" id="date" class="form-control"  required/>
                         
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="model">Model</label>
                    <input formControlName="model" type="number" class="form-control" id="model" required placeholder="model">
                  </div>
                  <div class="form-group">
                    <label for="paymentCode">payment_code</label>
                    <input formControlName="paymentCode" type="number" class="form-control" id="paymentCode" required placeholder="payment_code">
                  </div>
                  <div class="form-group">
                    <label for="reference">reference</label>
                    <input formControlName="reference" type="number" class="form-control" id="reference" required placeholder="reference">
                  </div>
               
                  

                <div class="row">
                    <div class="col-md-6 mb-2 form-group">
                      <button type="submit" rel="tooltip" 
                          class="btn btn-success btn-sm" data-original-title="" title="create exam">Create</button>
                      </div>
                      <div class="col-md-6 mb-2 form-group text-right">
                        <a type="button" rel="tooltip" (click)="closeModal('createETModal')"
                      class="btn btn-outline-secondary btn-sm" data-original-title="" title="close">Cancel</a>
                    </div>
                  </div>
              </form>
         </div>
     </div>
     <!-- /form card cc payment -->
</div>
</jw-modal>