<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="view-account" *ngIf="professor" >
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="assets\img\4-512.png" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">{{professor.firstname}}
                                            
                                <label class="label label-info">{{professor.lastname}}</label>
                            </li>
                            <li class="email">{{professor.role}}</li>
                          
                        </ul>
                    </div>
                    <!-- side navbar-->
                   <nav class="side-menu">
                        <ul class="nav" >
                            <li><a (click)="onTabClick(0)"><span class="fa fa-user"></span> Profile</a></li>
                            <li><a (click)="onTabClick(1)"><span class="fa fa-book"></span> Courses</a></li>
                            <li><a (click)="onTabClick(2)"><span class="fa fa-pencil"></span> Exam takings</a></li>
                            
                        </ul> 
                    </nav> 
                </div>

                <!-- cela desna strana - kontent-->
                <div class="content-panel">
                    <!-- <div class="content-header-wrapper">
                        <h2 class="title" for="title">TITLE</h2>
                     <div class="actions">
                            <button class="btn btn-success"><i class="fa fa-plus"></i> Upload New Item</button>
                        </div>
                    </div> -->
 
                    <div class="profile-detail">
                      
                        <app-professor-profile *ngIf="tabIndex === 0" [professor]="professor"></app-professor-profile>
                        <app-professor-courses  *ngIf="tabIndex === 1" [courses]="courses" (deleteCourse)="removeCourse($event)" (addCourse)="addCourse($event)"[professor]="professor" ></app-professor-courses>
                        <app-professor-exams  *ngIf="tabIndex === 2" [examtakings]="examtakings" ></app-professor-exams>
                    
                        </div>
                    
                    </div>
                </div>
        </section>
    </div>
</div>