<div id="enrollDiv">
    <div>
        <div class="input-group">
           
            <div>
              <button class="btn btn-outline-secondary" type="button" (click)="openModal('createExamModal')">+</button>
            </div>
          </div>
        </div>
    <div id="unit">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                     
                        
                        <th>Assignment</th>
                        <th>Date</th>
                        <th>Points</th> 
                        <th>Exam period</th>
                        <th>Actions</th> 
                    </tr>
                </thead>
                <tbody>
             
                    <tr  *ngFor="let exam of exams">
                        <!-- <td class="text-center">{{ca.id}}</td> -->
                        <th><a routerLink="/exams/{{ exam.id }}">{{exam.assignment}}</a></th>
                        <td>{{exam.date | date}}</td>
                        <td>{{exam.points}}</td>
                        <td>{{exam.examPeriod.name}}</td>
                        <td><a type="button" rel="tooltip" 
                            class="btn btn-danger btn-sm" data-original-title="" (click)="removeExam(exam)"title="remove exam">
                            <i class="material-icons">close</i>
                        </a></td>
                    </tr>
                   
                </tbody>
            </table>
            </div>
        </div>


<jw-modal id="createExamModal">
<div class="col-md-6 offset-md-3">
  
    <div class="card card-outline-secondary" *ngIf="course">
        <div class="card-body">
            <h3 class="text-center">Create Exam for {{course.name}}</h3>
            
            <form [formGroup]="examForm" (ngSubmit)="createExam()">
              
              <div class="form-group">
                <ng-container formGroupName="course">
               
              </ng-container>
              </div>
                  <div class="form-group">
                    <label for="date">Date:</label>
                   
                    <input type="date" name="date" id="date" formControlName="date" class="form-control"/>
                     
                </div>
                <div class="form-group">
                  <label for="assignment">Assignment</label>
                  <input type="text" class="form-control" id="assignment" formControlName="assignment" name="assignment">
                </div>
            
                <div class="form-group">
                  <label>Points</label>
                  <input type="text" class="form-control" id="points" formControlName="points" required name="points">
                </div>
                <div class="input-group">
                  <label>Select exam period: &nbsp;</label>
                  <select class="custom-select" formControlName="examPeriod" #ep id="inputGroupSelect05">
                      <option [ngValue]="ep"  *ngFor="let ep of examPeriods">{{ep.name}}</option>
                  </select>
                </div>
             
                
            
                <div class="row">
                    <div class="col-md-6 mb-2 form-group">
                      <button type="submit" rel="tooltip" 
                          class="btn btn-success btn-sm" data-original-title="" title="create exam">Create</button>
                      </div>
                      <div class="col-md-6 mb-2 form-group text-right">
                        <a type="button" rel="tooltip" (click)="closeModal('createExamModal')"
                      class="btn btn-outline-secondary btn-sm" data-original-title="" title="close">Cancel</a>
                    </div>
                  </div>
              </form>
        </div>
    </div>
    <!-- /form card cc payment -->
</div>
</jw-modal>

        