<div class="row">
    <div class="col-sm-4">
      <div class="card"  style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="/courses">My courses</a></h5>
          <img src="assets/img/booksdash.png" >
          <!-- <a routerLink="/courses" class="btn btn-primary">Courses</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card"  style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><a routerLink="/exams">My exams</a></h5>
          <img src="assets/img/exam-pencil.png" style="height: 100px; width: 100px;">
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card"  style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><a routerLink="/examperiods">Exam periods</a></h5>
            <img src="assets/img/calendar.png" style="height: 100px; width: 100px;">
         
          </div>
        </div>
      </div>
      
      <div class="col-sm-4" style="padding-top: 50px;">
        <div class="card"  style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><a type="button" (click)="goToMyProfile()"><span id="a">My Account</span></a></h5>
            <img src="assets/img/profile.png" style="height: 100px; width: 100px;">
           
          </div>
        </div>
      </div>
  </div>