
  <div class="box">
    <div class="container">
     	<div class="row">
			 
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
            <img src="assets/img/booksdash.png" >
                        
						<div class="title">
							<h4>My Courses</h4>
						</div>
                        
						<div class="text">
							
						</div>
                        
						<a routerLink="/courses">Learn More</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
            <img src="assets/img/exam-pencil.png">
                    
						<div class="title">
							<h4> My Exams</h4>
						</div>
                        
						<div class="text">
							
						</div>
                        
						<a routerLink="/exams">Learn More</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
            <img src="assets/img/calendar.png">
                        
						<div class="title">
							<h4>Exam Periods</h4>
						</div>
                        
						<div class="text">
							
						</div>
                        
						<a routerLink="/examperiods">Learn More</a>
                        
					 </div>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
            <img src="assets/img/profile.png">
                        
						<div class="title">
							<h4>My profile</h4>
						</div>
                        
						<div class="text">
							
						</div>
                        
						<a (click)="goToMyProfile()" >Learn More</a>
                        
					 </div>
				</div>
		
		</div>		
    </div>
</div>