

<!--<div class="row">
    <div class="rover-primary-col rover-single-col col-center
        col-md-10 col-lg-7 margin-top-x5">
        <div class="rover-primary-content-block">
            <form
            class="js-account-info-form">
                <div class="row margin-top-x4">
                    <div class="form-group col-lg-12">
                        <label for="firstname">Firstname:</label>
                        <input type="text" class="form-control" name="firstname"
                         id="firstname" [(ngModel)]="professor.firstname" name="firstname"/>
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="lastname">Lastname</label>
                                   
                                    <input class="form-control" id="lastname" [(ngModel)]="professor.lastname"
                                        name="lastname" type="text" />
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="role"class="form-group">
                                    <label for="role">Role</label>
                                    <select  class="form-control" id="profRole" name="profRole" [(ngModel)]="professor.role">
                                      
                                      <option value="PROFESSOR">PROFESSOR</option>
                                      <option value="ASSOCIATE">ASSOCIATE</option>
                                      <option value="DEMONSTRATOR">DEMONSTRATOR</option>
                                    </select>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="birthdate">Birthdate: {{ professor.birthdate | date }}</label>
                                   
                                    <input type="date" name="birthdate" id="birthdate" class="form-control" [(ngModel)]="professor.birthdate"/>
                                     
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                   
                                    <input class="form-control" id="address" [(ngModel)]="professor.address"
                                         name="address"
                                        type="text" />
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row" split="[4, 4, 4]">
                            <div class="col-md-4">
                                <div id="city" class="form-group">
                                    <label for="city" class="form-control-label">City
                                    </label>
                                    <div class="controls ">
                                        <input class="form-control" id="city"
                                       name="city" type="text" [(ngModel)]="professor.city"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="country" class="form-group">
                                    <label for="country" class="form-control-label">Country
                                    </label>
                                    <div class="controls ">
                                        <input class="form-control" id="country"
                                        name="country" type="text" [(ngModel)]="professor.country"/>
                                           
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="zip" class="form-group">
                                    <label for="zip" class="form-control-label">ZIP
                                    </label>
                                    <input class="form-control" id="zip"
                                        name="zip" type="text" [(ngModel)]="professor.zip"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                   
                                    <input class="form-control" id="phone" [(ngModel)]="professor.phone"
                                        name="phone" type="text" />
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                   
                                    <input class="form-control" id="email" [(ngModel)]="professor.email"
                                        name="email" type="text" />
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="div_id_private_information-birthdate" class="form-group">
                                    
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
               
                <div class="row">
                    <div class="col-lg-12" *ngIf="professor.user">
                        <div class="account-profile-section-header">
                             <h3>User Information</h3>
                            <p class="body-text text-muted">We won't share or display this on your profile.</p>
                        </div>
                        <input type="hidden" name="username" 
                        />
                        <div class="row">
                            <div class="col-12">
                                <div id="username" class="form-group">
                                    <label for="username" class="form-control-label">Username
                                    </label>
                                    <div class="controls ">
                                        <input class="form-control" id="username"
                                        name="username" type="text"  [(ngModel)] = "professor.user.username"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="password" class="form-group">
                                    <label for="password" class="form-control-label">Password
                                    </label>
                                    <div class="controls ">
                                        <input class="form-control" id="password"
                                        name="password" type="password"  [(ngModel)] ="professor.user.password"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="role"class="form-group">
                                    <label for="role">Role</label>
                                    <ul class="list-group list-group-flush" >
                                        <li class="list-group-item">
                                         
                                          <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="check1" value="ADMIN">
                                            <label class="custom-control-label" for="check1">ADMIN</label>
                                          </div>
                                        </li>
                                        <li class="list-group-item">
                                         
                                          <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="check2" checked disabled>
                                            <label class="custom-control-label" for="check2">PROFESSOR</label>
                                          </div>
                                        </li>
                                        <li class="list-group-item">
                                        
                                         
                                        </li>
                                       
                                      </ul>
                                    

                    
                                      
                                      
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                           
                        </div>
                        
                       
                    </div>
                </div> 
                
            </form>
        <div class="padding-top-x5">
                <div class="padding-top-x5">
                    <div class="text-center">
                        <button type="submit" class="badge badge-success" (click)="updateProfessor()">Edit</button>
                        <button class="badge badge-danger mr-2" (click)="deleteProfessor()">Delete</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>-->

    <form>
        <div class="form-row">
          <div class="col-md-4 mb-3 form-group">
            <label for="validationDefault01">First name</label>
            <input type="text" class="form-control" name="firstname"
            id="firstname" [(ngModel)]="professor.firstname" id="validationDefault01" placeholder="First name"  required/>
           
          </div>
          <div class="col-md-4 mb-3 form-group">
            <label for="validationDefault02">Last name</label>
            <input type="text" class="form-control" name="lastname"
            id="lastname" [(ngModel)]="professor.lastname"  id="validationDefault02" placeholder="Last name" required>
          </div>

          <div class="col-md-4 mb-3 form-group">
            <label>Birthdate</label>
            <input type="text" class="form-control" placeholder="Last name" required>
          </div>
            <div id="role"class="col-md-6 form-group">
                <label for="role">Role</label>
                <select  class="form-control" id="profRole" name="profRole" [(ngModel)]="professor.role">
                    
                    <option value="PROFESSOR">PROFESSOR</option>
                    <option value="ASSOCIATE">ASSOCIATE</option>
                    <option value="DEMONSTRATOR">DEMONSTRATOR</option>
                </select>
        </div>
       
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-2 form-group">
                <label for="validationDefault03">Address</label>
                <input type="text" [(ngModel)]="professor.address" class="form-control" 
                id="inputAddress" placeholder="1234 Main St" id="validationDefault03" name="address">
              </div>
          <div class="col-md-6 mb-3 form-group">
            <label for="validationDefault04">City</label>
            <input type="text" [(ngModel)]="professor.city" 
            class="form-control" id="validationDefault04" placeholder="City" name="city" required>
          </div>
          <div class="col-md-3 mb-3 form-group">
            <label for="validationDefault05">Country</label>
            <input type="text" [(ngModel)]="professor.country"
             class="form-control" id="validationDefault05" placeholder="Country" name="country" required>
          </div>
          <div class="col-md-3 mb-3 form-group">
            <label for="validationDefault06">Zip</label>
            <input type="text" [(ngModel)]="professor.zip" class="form-control"
             id="validationDefault06" placeholder="Zip" required name="zip" required>
          </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-2 form-group">
                <label for="email">Email</label>
                <input type="text" [(ngModel)]="professor.email" 
                class="form-control" id="email" placeholder="123@test.net" name="email" required>
              </div>
              <div class="col-md-6 mb-2 form-group">
                <label for="phone">Phone</label>
                <input type="text" [(ngModel)]="professor.phone" 
                class="form-control" id="phone" placeholder="+381/654017152" name="phone" required>
              </div>
        </div>

        <div class="form-row" *ngIf="professor.user">
            <div class="col-md-6 mb-2 form-group">
            <label for="validationDefaultUsername">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
              </div>
              <input type="text" [(ngModel)]="professor.user.username" class="form-control" name="username"
               id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
              <div class="col-md-6 mb-2 form-group">
                <label for="password">Password</label>
                <input type="password" [(ngModel)] = "professor.user.password" 
                class="form-control" id="password" placeholder="*********" name="password" required>
              </div>
              <div class="col-md-4 mb-3 form-group">
                <div id="role"class="form-group">
                    <label for="role">Role</label>
                    <ul class="list-group list-group-flush" >
                        <li class="list-group-item">
                         
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check1" value="ADMIN">
                            <label class="custom-control-label" for="check1">ADMIN</label>
                          </div>
                        </li>
                        <li class="list-group-item">
                         
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check2" checked disabled>
                            <label class="custom-control-label" for="check2">PROFESSOR</label>
                          </div>
                        </li>
                        <li class="list-group-item">
                        
                         
                        </li>
                       
                      </ul>
                    

    
                      
                      
                  </div>
            </div>
        </div>
       
        <div class="padding-top-x5">
            <div class="padding-top-x5">
                <div class="text-center">
                    <button type="submit" class="badge badge-success" (click)="updateProfessor()">Edit</button>
                    <button class="badge badge-danger mr-2" (click)="deleteProfessor()">Delete</button>
                </div>
            </div>
            
        </div>
      </form>