
<h4><small>Exam Periods</small> <span>&nbsp;&nbsp;&nbsp;</span>
    <a  *ngIf="this.authService.userRole()=='admin'" (click)="openModal('createEPModal')" type="button" rel="tooltip" class="btn btn-outline-secondary btn-sm" data-original-title="" title="add exam period">
    <i class="material-icons">add</i>
    </a> <div *ngIf="this.authService.userRole()=='admin'" class="input-group input-group-sm mb-3" style="width: 750px;">
        <input type="text"  placeholder="Search by name" #search  id="inputGroup-sizing-sm"
        class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        <div class="input-group-append" id="btn">
            <a   (click)="retrieveExams(search.value)" class="btn btn-outline-secondary" type="button"><span class="material-icons">
                search
                </span></a>
          </div>
        
        </div></h4>
<div class="table-responsive" id="tableScroll">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th *ngIf="this.authService.userRole()=='admin'"class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ep of examPeriods">
                    <td class="text-center">{{ep.id}}</td>
                    <td>{{ep.name}}</td>
                    <td>{{ep.startDate  | date}}</td>
                    <td>{{ep.endDate  | date}}</td> 
                    <td *ngIf="this.authService.userRole()=='admin'" class="text-right"> 
                        <a routerLink="/examperiods/{{ ep.id }}" type="button"  class="btn btn-success btn-link btn-just-icon btn-sm" data-original-title="" title="view more">
                            <i class="material-icons">preview</i>
                        </a> 
                        <a type="button" rel="tooltip" (click)="openDeleteModal('deleteModal', ep)" class="btn btn-danger btn-link btn-just-icon btn-sm" data-original-title="" title="delete exam period">
                            <i class="material-icons">close</i>
                        </a>
                   </td>
                </tr>   
            </tbody>
        </table>
</div>
<jw-modal id="createEPModal">

    <div class="col-md-6 offset-md-3">
        <div class="card card-outline-secondary">
            <div class="card-body">
                <h3 class="text-center">Create Exam Period</h3>
                
                <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                   
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input formControlName="name" type="text" class="form-control" id="name" required placeholder="Name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                        </div>
                      </div>
                      <div class="form-group">
                       
                       
                        <input type="date" formControlName="startDate" ng-model="date1" name="startDate" id="startDate" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }">
                        <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                            <div *ngIf="f.startDate.errors.required">Start date is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                       
                       
                        <input type="date" formControlName="endDate" name="endDate" id="endDate" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }">
                        <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                            <div *ngIf="f.endDate.errors.required">End date is required</div>
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-md-6 mb-2 form-group">
                          <button type="submit" rel="tooltip" 
                              class="btn btn-success btn-sm" data-original-title="" title="create exam">Create</button>
                          </div>
                          <div class="col-md-6 mb-2 form-group text-right">
                            <a type="button" rel="tooltip" (click)="closeModal('createEPModal')"
                          class="btn btn-outline-secondary btn-sm" data-original-title="" title="close">Cancel</a>
                        </div>
                      </div>
                  </form>
            </div>
            
        </div>
        <!-- /form card cc payment -->
    </div>

    <jw-modal id="deleteModal">
        <div class="col-md-4 offset-md-4">
        <div class="card card-outline-secondary" *ngIf="epForDelete">
          <div class="card-body">
              <h4 class="text-center">Are you sure you want to delete {{epForDelete.name}}?</h4>
          <div class="card card-body">
            <div class="row">
                <div class="col-md-6 mb-2 form-group">
                  <button type="submit" rel="tooltip" 
                      class="btn btn-danger btn-sm" data-original-title=""  (click)="deleteExamP(epForDelete)"  title="delete">Delete</button>
                  </div>
                  <div class="col-md-6 mb-2 form-group text-right">
                    <a type="button" rel="tooltip" (click)="closeModal('deleteModal')"
                  class="btn btn-outline-secondary btn-sm" data-original-title="" title="close">Cancel</a>
                </div>
              </div>
          </div>
        </div>  
        </div>
      </div>
    </jw-modal>