
    <div class=" d-flex align-items-start container h-100 py-2" aria-orientation="vertical" *ngIf="exam">
      <ul class="nav flex-column nav-pills"  >
          <li class="nav-item pill-1">
            
              <a class="nav-link active" data-toggle="tab" href="#tab1" (click)="onTabClick(0)">Exam details</a>
          </li>
          <li class="nav-item pill-2">
              <a class="nav-link" data-toggle="tab" href="#tab2" (click)="onTabClick(1)">Examinations</a>
          </li>
          <li class="nav-item pill-3">
              <a class="nav-link" data-toggle="tab" href="#tab3" (click)="onTabClick(2)">Course</a>
          </li>
      
      </ul>
    
      <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="tab1" role="tabpanel">
            <app-exam-unit  *ngIf="tabIndex === 0" [exam]= "exam"></app-exam-unit>
          </div>
          <div class="tab-pane fade" id="tab2" role="tabpanel">
            <app-exam-taking  *ngIf="tabIndex === 1" [examTakings]= "examTakings" [exam]="exam" (createExamTaking)="addExamTaking($event)" 
            (deleteExamTaking)="removeExamTaking($event)" (updateExamTaking)="updateExamTaking($event)"></app-exam-taking>
          </div>
          <div class="tab-pane fade" id="tab3" role="tabpanel">
            <app-exam-course  *ngIf="tabIndex === 2" [exam]= "exam"></app-exam-course> 
          </div>
          
      </div>
    
    </div>