<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <a  routerLink="/courses" data-original-title="" title="back to list">
        <span class="material-icons">
            keyboard_backspace
            </span>
      </a>
  </div>
  
  <nav>
      <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" (click)="onTabClick(0)" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Exam details</a>
        <a class="nav-item nav-link" (click)="onTabClick(1)" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Exam takings</a>
        <a class="nav-item nav-link" (click)="onTabClick(2)" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Exam Period</a>
        <a class="nav-item nav-link" (click)="onTabClick(3)" id="nav-exam-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Course</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <app-exam-unit  *ngIf="tabIndex === 0" [exam]= "exam"></app-exam-unit>
       <app-exam-taking  *ngIf="tabIndex === 1" [examTakings]= "examTakings" [exam]="exam" (createExamTaking)="addExamTaking($event)" (deleteExamTaking)="removeExamTaking($event)"></app-exam-taking>
      <app-exam-course  *ngIf="tabIndex === 3" [exam]= "exam"></app-exam-course> 
    </div> -->

    
    <div class=" d-flex align-items-start container h-100 py-2" aria-orientation="vertical">
      <ul class="nav flex-column nav-pills"  >
          <li class="nav-item pill-1">
            
              <a class="nav-link active" data-toggle="tab" href="#tab1" (click)="onTabClick(0)">Exam details</a>
          </li>
          <li class="nav-item pill-2">
              <a class="nav-link" data-toggle="tab" href="#tab2" (click)="onTabClick(1)">Examinations</a>
          </li>
          <li class="nav-item pill-3">
              <a class="nav-link" data-toggle="tab" href="#tab3" (click)="onTabClick(2)">Course</a>
          </li>
      
      </ul>
    
      <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="tab1" role="tabpanel">
            <app-exam-unit  *ngIf="tabIndex === 0" [exam]= "exam"></app-exam-unit>
          </div>
          <div class="tab-pane fade" id="tab2" role="tabpanel">
            <app-exam-taking  *ngIf="tabIndex === 1" [examTakings]= "examTakings" [exam]="exam" (createExamTaking)="addExamTaking($event)" 
            (deleteExamTaking)="removeExamTaking($event)" (updateExamTaking)="updateExamTaking($event)"></app-exam-taking>
          </div>
          <div class="tab-pane fade" id="tab3" role="tabpanel">
            <app-exam-course  *ngIf="tabIndex === 2" [exam]= "exam"></app-exam-course> 
          </div>
          
      </div>
    
    </div>