<div class=" d-flex align-items-start container h-100 py-2" aria-orientation="vertical" *ngIf="course">
  <ul class="nav flex-column nav-pills"  >
      <li class="nav-item pill-1">
        
          <a class="nav-link active" data-toggle="tab" href="#tab1" (click)="onTabClick(0)">Course details</a>
      </li>
      <li class="nav-item pill-2">
          <a class="nav-link" data-toggle="tab" href="#tab2" (click)="onTabClick(1)">Enrollments</a>
      </li>
      <li class="nav-item pill-3">
          <a class="nav-link" data-toggle="tab" href="#tab3" (click)="onTabClick(2)">Course professors</a>
      </li>
      <li class="nav-item pill-4">
        <a class="nav-link" data-toggle="tab" href="#tab4" (click)="onTabClick(3)">Exams</a>
    </li>
  </ul>

  <div class="tab-content mt-3">
      <div class="tab-pane fade show active" id="tab1" role="tabpanel">
        <app-course-unit  class="tab-pane fade show active" id="tab1" role="tabpanel" *ngIf="tabIndex === 0" [course]= "course"></app-course-unit>
      </div>
      <div class="tab-pane fade" id="tab2" role="tabpanel">
        <app-course-enrrollments  class="tab-pane fade" id="tab2" role="tabpanel" *ngIf="tabIndex === 1" [courseAttendances]= "courseAttendances" (addStudent)="hh($event)" [course]="course" (deleteStudent)="removeStudent($event)"></app-course-enrrollments>
      </div>
      <div class="tab-pane fade" id="tab3" role="tabpanel">
        <app-course-professors  *ngIf="tabIndex === 2" [professors]= "professors" (deleteProfessor)="removeProfessor($event)" (addProfessor)="addProfessor($event)"></app-course-professors>
      </div>
      <div class="tab-pane fade" id="tab4" role="tabpanel">
        <app-course-exams  *ngIf="tabIndex === 3" [exams]= "exams" [course]="course" (addExam)="createExam($event)" (deleteExam)="deleteExam($event)"></app-course-exams>
      </div>
  </div>

</div>
