<h4><small>Students</small></h4>
<div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Index number</th>
                    <!-- <th class="text-right">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students" (click)="selectStudent(student)">
                    <td class="text-center">{{student.id}}</td>
                    <td>{{student.firstname}}</td>
                    <td>{{student.lastname}}</td>
                    <td>{{student.indexNum}}</td> 
                </tr>   
            </tbody>
        </table>
</div>
